body {
    background-color: skyblue;
}
#animal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animal {
    margin: 2%;
    padding: 2%;
    width: 400px;
    border: 2px solid rgb(67, 141, 216);
    text-align: center;
    background-color: rgb(67, 141, 216);
}

.animal-image{

        width: 400px;
}

.red {
    background-color: red;

}

.green {
    background-color: green;
}